<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-splashscreen-tests" version="4.0.2">
  <name>Cordova Splashscreen Plugin Tests</name>
  <license>Apache 2.0</license>
  <js-module src="tests.js" name="tests"/>
</plugin>
